body            {font-family: serif; background-color: #ffffff;}
li				{margin: 0 0 3px 0;}

.flash          {background: #F2F2F2;}
.header         {left: 50%; text-align: center; font-family: 'Georgia', serif;
				 border-bottom: 2px solid #eee; margin: 0;}
.list    		{border: 2px solid; border-radius: 5px; padding: 5px; 
				 margin: 5px; border-color: #262626;
				 background-color: #737373; color: #e6e6e6;}

.forwardLink	{color: #e6e6e6;}
.backLink 		{color: #a52600;}

#signIn			{border: 2px solid; border-radius: 5px; padding: 5px; 
				 margin: 5px; border-color: #262626; position: absolute;
				 background-color: #b3b3b3;}
.signOut		{border: 2px solid; border-radius: 5px; padding: 5px; 
				 margin: 5px; border-color: #262626;
				 background-color: #ffffff; width: 70px;}
.gSignIn		{border: 5px solid; padding: 5px; 
				 margin: 5px; border-color: #ff0000; background-color: #ffffff;}
.fbSignIn		{border: 5px solid; padding: 5px; 
				 margin: 5px; border-color: #0000ff; background-color: #ffffff;}

#result 		{position: absolute;}