body            {font-family: serif; background-color: #006600;}

li				{margin: 0 0 3px 0;}

.header         {text-align: center; font-family: 'Georgia', serif;
				 border-bottom: 2px solid #eee;}

.homeLinks		{text-align: center;}

.flash          {background: #F2F2F2;}

.photo			{max-width: 300px; max-height: 300px;}

.list    		{border: 2px solid; border-radius: 5px; padding: 5px; 
				 margin: 5px; border-color: #262626;
				 background-color: #737373; color: #e6e6e6;}
.stats			{border: 2px dotted; border-radius: 5px; padding: 5px; 
				 margin: 5px; border-color: #262626;
				 background-color: #ffffff; color: #000000;}
.form    		{border: 2px solid; border-radius: 5px; padding: 5px; 
				 margin: 5px; border-color: #262626;
				 background-color: #ffffff; color: #000000;}
.signOut		{border: 2px solid; border-radius: 5px; padding: 5px; 
				 margin: 5px; border-color: #262626;
				 background-color: #ffffff; width: 70px;}

.user			{background-color: #000000;}
.non-user		{}

.backLink 		{color: #ff3c00;}
.actionLink     {color: #ffcc99;}
.forwardLink	{color: #c299ff;}
.listToggle		{color: #ffcc99; font-size: .75em; 
				 font-style: italic; cursor: pointer;}
.homeLinks a    {font-family: 'Georgia', serif; color: #ffffff; font-size: .75em;}

.hideLoggedIn	{}
.hideLoggedOut	{}
.hideIfOwner 	{}
.hideIfNotOwner	{}

#photoOr		{padding: 5px;}
#photo			{max-width: 100%; max-height: 300px;
				 border: 1px solid; border-color: #000000;}
#signIn			{border: 2px solid; border-radius: 6px; padding: 2px;
				 border-color: #262626; background-color: #737373; 
				 font-size: .75em; margin-top: 3; margin-left: 4px; 
				 float: left; margin-right: 2px;}
#fakeSignIn		{border: 2px solid; border-radius: 6px; padding: 2px;
				 border-color: #262626; 
				 background-color: #737373; font-size: .75em;
				 margin-top: 3; margin-right: 4px; float: right;
				 margin-left: 2px; visibility: hidden;}
#pageHeader		{position: fixed; top: 0; left: 8; right: 8;}
#coloredHeader	{background-color: #006600;}
#transHeader	{}
#pageContent 	{}
#pageTitle		{font-size: 180%; padding-top: 6px; 
				 font-weight: bold; padding-bottom: 6px;}
#loginSpan		{margin-right: 5px;}
#profileSpan	{margin-right: 5px;}
#signOutSpan	{}
#bodyPadding	{text-align: center; font-family: 'Georgia', serif;
				 font-size: 180%; padding-top: 6px; visibility: hidden;
				 font-weight: bold; padding-bottom: 36px;
				 margin-left: 13%; margin-right: 13%}
#masterToggle	{color: #ffcc99; font-size: .75em; 
				 font-style: italic; cursor: pointer;}

form input[type~="text"] {

	background-color: #e6e6e6;
}
form input[type~="url"] {

	background-color: #e6e6e6;
}
form input:required {

	border: 5px solid #ff3c00;
}
form input[type~="text"]:invalid {

	background-image: url(invalidInput.png); 
	background-position: right top;
	background-size: 13px 13px;
	background-repeat: no-repeat;
}
form input[type~="text"]:valid {

	background-image: url(validInput.png); 
	background-position: right top;
	background-size: 13px 13px;
	background-repeat: no-repeat;
}
form input[type~="url"]:invalid {

	background-image: url(invalidInput.png); 
	background-position: right top;
	background-size: 13px 13px;
	background-repeat: no-repeat;
}
form input[type~="url"]:valid {

	background-image: url(validInput.png); 
	background-position: right top;
	background-size: 13px 13px;
	background-repeat: no-repeat;
}