<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Cuisines.css')}}">
</head>
<body>
	<h1 class='header'>
		Add Base Menu Item
	</h1>

	<div class='homeLinks'>
		<a href="{{url_for('restaurants')}}">restaurants</a>
		<a href="{{url_for('restaurantManagerIndex')}}">home</a>
		<a href="{{url_for('cuisines')}}">cuisines</a>
	</div>

	<div class='actionText'>
		<p>
			Add an item to cuisine {{cuisine.name}}'s base menu.
		</p>
	</div>

	<a class='backLink' href="{{url_for('cuisine',cuisine_id=cuisine.id)}}">
		Cancel
	</a>

	<form class='form'action="{{url_for('addBaseMenuItem', 
							cuisine_id=cuisine.id)}}"
		method='post'>

		<h3 class='header'>
			Info for New Base Menu Item
		</h3>

		<p>Item Name:</p>
		<input type='text' size='30' name='name'>
		
		<p>Item Description:</p>
		<input type='text' size='60' name='description'>

		<p>Item Price:</p>
		<input type='text' size='30' name='price'>

		<p>Item Picture (uploaded pics must be .jpg, .jpeg, or .png):</p>
		<input type='file' name='picture' accept='image/*'>
		<div id='photoOr'>or provide link:</div>
		<input type='text' size='60' name='pictureLink' placeholder='Link to
			restaurant picture'>

		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>

		</br>
		</br>
		</br>
		<input type='submit' value='Create Base Menu Item'>

	</form>
</body>
</html>