<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Cuisines.css')}}">
</head>
<body>
	<h1 class='header'>
		Add Cuisine
	</h1>
	
	<div class='homeLinks'>
		<a href="{{url_for('restaurants')}}">restaurants</a>
		<a href="{{url_for('restaurantManagerIndex')}}">home</a>
		<a href="{{url_for('cuisines')}}">cuisines</a>
	</div>
	
	<div class='actionText'>
		<p>
			Create a new cuisine and add it to the cuisine list.  Note that cuisine names must be unique, so you will get an error if the cuisine name already exisits in the database.
		</p>
		<p>
			Note that the cuisine will not start with any base menu items. So, after you create the cuisine, you might want to create some
			base menu items for it.
		</p>
	</div>

	<a class='backLink' href="{{url_for('cuisines')}}">
		Cancel
	</a>

	<form class='form' action="{{url_for('addCuisine')}}"
		method='post'>

		<h3 class='header'>
			Info for New Cuisine
		</h3>
		
		<p>Cuisine Name:</p>
		<input type='text' size='50' name='name'>

		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>

		</br>
		</br>
		</br>
		<input type='submit' value='Create Cuisine'>

</form>

</body>
</html>