<html>
<body>

<h1>New Menu Item</h1>
<h3>Add an item to restaurant {{restaurant_id}}'s menu</h3>

<a href="{{url_for('restaurantMenu',restaurant_id=restaurant_id)}}">
Cancel (return to menu)
</a>

<form action="{{ url_for('newMenuItem', restaurant_id=restaurant_id )}}"
method='post'>

	<p>Item Name:</p>
		<input type='text' size='30' name='name'>
	<p>Item Description:</p>
		<input type='text' size='60' name='description'>
	<p>Item Price:</p>
		<input type='text' size='30' name='price'>

<input type='submit' value='Create'>

</form>

</body>
</html>