<html>
<body>
	<h1>Add Restaurant</h1>
	
	<div class='pageOverivew'>
		<p>
			Create a new restaurant and add it to the restaurant list.
			</br>
			Note that the restaurant's menu will start with all of the base
			menu items (if any) for its cuisine.
			</br>
			You can view and modify cuisines <a href="url_for('cuisines')'">here</a>
			and base menu items <a href="url_for('baseMenuItems')'">here</a>.
		</p>
		<p>
			All existing cuisines are listed in the dropdown menu below.
			</br>
			If you want to create a new cuisine, select "Custom (enter in 
			text box below)" from the dropdown and type your custom
			cuisine in the box.
			</br>
			A custom cuisine will not have any base menu 
			items, so you will need to populate the restaurant's menu yourself.
		</p>
	</div>

	<a class='back' href="{{url_for('restaurants')}}">
		Cancel (return to restaurant list)
	</a>

	<form action="{{url_for('addRestaurant')}}"
		method='post'>

	<p>Restaurant Cuisine:</p>
	<select name="cuisineID">
		<option value="custom">Custom (enter in text box below)</option>
  		{% for cuisine in cuisines %}
  			<option value="{{cuisine.id}}">{{cuisine.name}}</option>
  		{% endfor %}
	</select>
	</br>
	<input type='text' size='50' name='customCuisine' 
		placeholder='Custom Cuisine Name'>
	<p>Restaruant Name:</p>
	<input type='text' size='50' name='name'>

	<input type='submit' value='Create Restaurant'>

</form>

</body>
</html>