<html>
<body>
	<h1>Add Restaurant Menu Item</h1>
	<h3>Add an item to {{restaurant.name}}'s (ID {{restaurant.id}}) menu</h3>

	<a href="{{url_for('restaurantMenu',restaurant_id=restaurant.id)}}">
		Cancel (return to menu)
	</a>

	<p>
		Note that you can choose "Base Item for Menu Items with no Specific Cuisine" if the menu item you want to create doesn't have a good fit for its base on the dropdown.
		</br>
		If this is the case, though, you might want to consider first creating a relevant base menu item for the relevant cuisine.  You can view and edit cuisines <a href="{{url_for('cuisines')}}">here</a>.
	</p>

	<form action="{{url_for('addRestaurantMenuItem', 
							restaurant_id=restaurant.id)}}"
		method='post'>

		<p>Base menu item:</p>
		<select name="baseMenuItemID">
  		{% for baseMenuItem in baseMenuItems %}
  			<option value="{{baseMenuItem.id}}">{{baseMenuItem.name}}</option>
  		{% endfor %}
		</select>
		<p>Item Name:</p>
		<input type='text' size='30' name='name'>
		<p>Item Description:</p>
		<input type='text' size='60' name='description'>
		<p>Item Price:</p>
		<input type='text' size='30' name='price'>

		<input type='submit' value='Create Restaurant Menu Item'>

	</form>
</body>
</html>