<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Restaurants.css')}}">
</head>
<body>
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<div id='signIn'>

				<div id='loginStatus'>
					{{client_login_session['message']}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="{{url_for('user', user_id=client_login_session['user_id'])}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

   <!-- a non-displayed, floated-right div that mirrors the "real" (displayed), floated-left #signIn div (which has variable length). 
   Used to ensure #pageTitle is centered on the page instead of centered in the
   spaced to the right of the floating "real/visible" signIn box -->
			<div id='fakeSignIn'>

				<div id='fakeLoginStatus'>
					{{client_login_session['message']}}
				</div>

				<span class='hideLoggedIn' id='fakeLoginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='fakeProfileSpan'>
					<a class='actionLink' href="{{url_for('user', user_id=client_login_session['user_id'])}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='fakeSignOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

			<div id='pageTitle' class='header'>
				Add Restaurant Menu Item
			</div>

		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
				<a href="{{url_for('users')}}">users</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
			</div>
		</div>
	</div>

<!-- 
	for ensuring that content is the appropriate distance from the header
	(when scrolled to top) as the header changes height
	(not "perfect", but very close)
-->
<div id='bodyPadding'> 
	Add Restaurant Menu Item
</div>

<div id='pageContent'>
	
	<div class='actionText'>
		<p>
			Add an item to {{restaurant.name}}'s (ID {{restaurant.id}}) menu
		</p>
	</div>

	<p>
		<a class='backLink' href="{{url_for('restaurantMenu',restaurant_id=restaurant.id)}}">
			Cancel</a>
	</p>

	<form class='form' id='addRestaurantMenuItemForm' action="{{url_for('addRestaurantMenuItem', restaurant_id=restaurant.id)}}" method='post' onsubmit="return checkForm(document.getElementById('addRestaurantMenuItemForm'));" enctype=multipart/form-data>

		<h3 class='header'>
			Info for New Restaurant Menu Item
		</h3>

		<p>
			Important notes:
			<ul>
				<li>
					If the menu item you want to create doesn't have a good fit for its base on the dropdown, you should either 1) select "Base Item for Menu Items with no Specific Cuisine" or 2) create a relevant base menu item (and relevant cuisine, if needed).  You can view and edit cuisines and their base menu items <a class='actionLink' href="{{url_for('cuisines')}}">here</a>.
				</li>
				<li>
					The placeholders for inputs will change as you select a base menu item so you can see its attributes.
				</li>
				<li>
					For attributes you leave blank, the new restaurant menu item will have its base item's value.
				</li>
			</ul>
		</p>

		<p>Base Menu Item:</p>
		<select required id='baseMenuItemID' name="baseMenuItemID" oninput='
			placeholdWithBaseMenuItem(); loadPicture(this.value, document.getElementById(this.value + "picServe_Type").innerHTML);'>
  		{% for baseMenuItem in baseMenuItems %}
  			<option id="baseMenuItem{{baseMenuItem.id}}" value="{{baseMenuItem.id}}">{{baseMenuItem.name}}</option>
  		{% endfor %}
		</select>

		<p>Item Name:</p>
		<input optional id='name' type='text' maxlength='80' size='30' name='name' placeholder='Name'>

		<p>Item Description:</p>
		<input optional id='description' type='text' maxlength='250' size='80' name='description' placeholder='Description'>

		<p>Item Price (must containly only digits and a decimal point):</p>
		<input id='price' type='text' maxlength='20' optional pattern='[0-9]*(.[0-9][0-9])?' size='10' name='price'>

		<p>Item Menu Section:</p>
		<select required id='menuSection' name="menuSectionID">
			{% for menuSection in menuSections %}
				<option id='{{menuSection.name}}' value='{{menuSection.id}}'>{{menuSection.name}}</option>
			{% endfor %}
		</select>

		<p>
			Base Menu Item Picture:
		</p>
		<div class='photo'>
			<img id='photo' src="" alt='[picture of base menu item]' max-width=100%>
		</div>

		<p>Item Picture (uploaded pics must be .jpg, .jpeg, or .png):</p>
		<input id='pictureFile' type='file' optional name='pictureFile' accept='image/.jpg image/.jpeg image/.png'>
		<div id='orText'>or provide link (must start with 'http://' or 'https://'):</div>
		<input id='pictureLink' type='url' optional maxlength='300' size='80' pattern="https?://.+" name='pictureLink' placeholder='Link to item picture'>

		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>
		
		</br>
		</br>
		</br>
		<input type='submit' value='Create Restaurant Menu Item'>

	</form>

	<!--
    # this could use improvement.
    # needed because the select input element above would always pass a String value 
    # to the 'oninput' JavaScript function, even if the input was actually a python
    # list, dictionary, object serialized to JSON, or SQLAlchemy query object.
    # Further, JSON.parse(str) runs into trouble with unicode, which the 
    # serialize(self) function in python spits out for Strings. Plus, even after
    # I've removed unicode and ensured the str for JSON.parse(str) is well-formed
    # JSON, JSON.parse(str) returns a String instead of an Object, and therefore I 
    # could not access any attribute/value pairs after parsing.
    #
    # Edit after learning more: should use ajax and JS/jQuery.
	-->
	<div id='baseMenuItemInfo' style='display: none;'>
		{% for baseMenuItem in baseMenuItems %}
		  	<div id="{{baseMenuItem.id}}name">{{baseMenuItem.name}}</div>
		  	<div id="{{baseMenuItem.id}}description">{{baseMenuItem.description}}</div>
  			<div id="{{baseMenuItem.id}}price">{{baseMenuItem.price}}</div>
  			<div id="{{baseMenuItem.id}}menuSection">{{baseMenuItem.menuSection_id}}</div>
  			<div id="{{baseMenuItem.id}}picText">{{baseMenuItem.picText}}</div>
   			<div id="{{baseMenuItem.id}}picServe_Type">{{baseMenuItem.picServeType}}</div>
  		{% endfor %}
	</div>
</div>
<script src="{{url_for('static', filename='login.js')}}">
</script>
<script>displayBasedOnLogin("{{client_login_session['message']}}");
</script>
<script src="{{url_for('static', filename='forms.js')}}">
</script>
<script>
	// (could not get this to work properly in external .js file --
	//  the setAttribute would take this page's url and append the "url for" part)
  	// if appropriate, changes src of #photo from link to served file
function loadPicture(baseMenuItemID, serve_type) {

	id = baseMenuItemID+"picText";

    picText = document.getElementById(id).innerHTML;

    if (serve_type === 'upload') {

    	var partPath = "{{url_for('uploaded_picture',filename='')}}";
    	partPath = partPath.substring(0, partPath.length-1);
		var path = partPath.concat(picText);
		document.getElementById("photo").setAttribute("src", path);
    }
    else {

		document.getElementById("photo").setAttribute("src", picText);
    }
}
</script>
</body>
</html>