<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',filename='Restaurants.css')}}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
	</script>
</head>
<body>
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<div id='signIn'>

				<div id='loginStatus'>
					{{client_login_session['message']}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=client_login_session['user_id'])}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

   <!-- a non-displayed, floated-right div that mirrors the "real" (displayed), floated-left #signIn div (which has variable length). 
   Used to ensure #pageTitle is centered on the page instead of centered in the
   spaced to the right of the floating "real/visible" signIn box -->
			<div id='fakeSignIn'>

				<div id='fakeLoginStatus'>
					{{client_login_session['message']}}
				</div>

				<span class='hideLoggedIn' id='fakeLoginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='fakeProfileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=client_login_session['user_id'])}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='fakeSignOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

			<div id='pageTitle' class='header'>
				Add Restaurant
			</div>

		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
				<a href="{{url_for('users')}}">users</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
			</div>
		</div>
	</div>

<!-- 
	for ensuring that content is the appropriate distance from the header
	(when scrolled to top) as the header changes height
	(not "perfect", but very close)
-->
<div id='bodyPadding'> 
	Add Restaurant
</div>

<div id='pageContent'>
	
	<div class='actionText'>
		<p>
			Create a new restaurant and add it to the restaurant list.
		</p>
	</div>

	<a class='backLink' href="{{url_for('restaurants')}}">
		Cancel
	</a>

	<form class='form' id='addRestaurantForm' action="{{url_for('addRestaurant')}}" method='post' onsubmit="return checkForm(document.getElementById('addRestaurantForm'));" enctype=multipart/form-data>

		<h3 class='header'>
			Info for New Restaurant
		</h3>

		</p>
			Important notes:
			<ul>
				<li>
					The restaurant's menu will start with all of the base menu items (if any) for its cuisine.
				</li>
				<li>
					If the restaurant doesn't have a specific cuisine, select "No Specific Cuisine" from the dropdown.  The restaurant will not start with any items on its menu.
				</li>
				<li>
					If the restaurant has a specific cuisine but the cuisine is not listed in the dropdown, you should go <a class='actionLink' href="{{url_for('addCuisine')}}">here</a> first to create the cuisine.
				</li>
			</ul>
		</p>

		<p>Restaurant Cuisine:</p>

		<select id='cuisine' optional name="cuisineID">
  			{% for cuisine in cuisines %}
  				<option value="{{cuisine.id}}">{{cuisine.name}}</option>
  			{% endfor %}
		</select>		

		<p>Restaruant Name:</p>
		<input id='name' type='text' required maxlength='100' size='30' name='name'>

		<p>Restaurant Picture (uploaded pics must be .jpg, .jpeg, or .png):</p>

		<input id='pictureFile' type='file' optional name='pictureFile' accept='image/.jpg image/.jpeg image/.png'>
		<div class='orText'>or provide link (must start with 'http://' or 'https://'):</div>
		<input id='pictureLink' type='url' optional maxlength='300' size='80' pattern="https?://.+" name='pictureLink' placeholder='Link to restaurant picture'>

		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>
		</br>
		</br>
		</br>

		<input type='submit' value='Create Restaurant'>

	</form>
</div>
<script src="{{url_for('static', filename='login.js')}}">
</script>
<script src="{{url_for('static', filename='forms.js')}}">
</script>
<script>displayBasedOnLogin("{{client_login_session['message']}}");
</script>
</body>
</html>