<html>
<body>
	<h1>Add Restaurant</h1>
	
	<div class='pageOverivew'>
		<p>
			Create a new restaurant and add it to the restaurant list.
			</br>
			Note that the restaurant's menu will start with all of the base
			menu items (if any) for its cuisine.
			</br>
			You can view and modify cuisines and their base menu items <a href="{{url_for('cuisines')}}">here</a>.
		</p>
		<p>
			Important notes about cuisines:
			<ul>
				<li>All existing cuisines are listed in the dropdown menu below.</li>
				<li>If you want the restaurant to have a cuisine that doesn't exist in the database yet, select "Custom (enter in text box below)" from the dropdown and type your custom cuisine in the box.  This will create a new cuisine in the database and assign it to the restaurant.</li>
				<li>A custom cuisine will not have any base menu items, so you will need to populate the restaurant's menu yourself.</li>
				<li>If the restaurant has no specific cuisine type, you can select "No Specific Cuisine" from the dropdown and the restaurant will not get any items on its menu.</li>
		</p>
	</div>

	<a class='back' href="{{url_for('restaurants')}}">
		Cancel (return to restaurant list)
	</a>

	<form action="{{url_for('addRestaurant')}}"
		method='post'>

	<p>Restaurant Cuisine:</p>
	<select name="cuisineID">
		<option value="custom">Custom (enter in text box below)</option>
  		{% for cuisine in cuisines %}
  			<option value="{{cuisine.id}}">{{cuisine.name}}</option>
  		{% endfor %}
	</select>
	</br>
	<input type='text' size='60' name='customCuisine' 
		placeholder='Custom Cuisine Name'>
	<p>Restaruant Name:</p>
	<input type='text' size='30' name='name'>

	<input type='submit' value='Create Restaurant'>

</form>

</body>
</html>