<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Cuisines.css')}}">
</head>
<body> 
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<div id='signIn'>

				<div id='loginStatus'>
					{{loginStatusMessage}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=user_id)}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

   <!-- a non-displayed, floated-right div that mirrors the "real" (displayed), floated-left #signIn div (which has variable length). 
   Used to ensure #pageTitle is centered on the page instead of centered in the
   spaced to the right of the floating "real/visible" signIn box -->
			<div id='fakeSignIn'>

				<div id='fakeLoginStatus'>
					{{loginStatusMessage}}
				</div>

				<span class='hideLoggedIn' id='fakeLoginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='fakeProfileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=user_id)}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='fakeSignOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

			<div id='pageTitle' class='header'>
				{{baseMenuItem.name}}
			</div>

		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
				<a href="{{url_for('users')}}">users</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
			</div>
		</div>
	</div>

<!-- 
	for ensuring that content is the appropriate distance from the header
	(when scrolled to top) as the header changes height
	(not "perfect", but very close)
-->
<div id='bodyPadding'> 
	{{baseMenuItem.name}}
</div>

<div id='pageContent'>

	<p>
		<a class='backLink' href="{{url_for('cuisine', cuisine_id=cuisine.id)}}">
			Back to the cuisine
		</a>
	</p>

	<div class='flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	</div>

	<div class='stats'>

		<div class='photo'>
			<img id='photo' src="{{picture.text}}" alt='[picture of {{baseMenuItem.name}}]' max-width=100%>
		</div>

		<p>Stats for base menu item '{{baseMenuItem.name}}':</p>
		<ul>
			<li>ID: {{baseMenuItem.id}}</li>
			<li>Cuisine: {{cuisine.name}} (ID {{cuisine.id}})</li>
			<li>Description: {{baseMenuItem.description}}
			<li>Price: {{baseMenuItem.price}}</li>
			<li>Menu Section: {{menuSection.name}}</li>
		</ul>

		<div class='list'>
		<p>
			List of all restaurant menu items with this base menu item:
		</p>
		<ol>
			{% for restaurantMenuItem in restaurantMenuItems %}
				<li><a class='forwardLink' href="{{url_for('restaurantMenuItem',
								   restaurant_id=restaurantMenuItem.restaurant_id,
								   restaurantMenuItem_id=restaurantMenuItem.id)}}">
					{{restaurantMenuItem.name}} (at restaurant 
					{{restaurantMenuItem.restaurant_id}})</a>
				</li>
			{% endfor %}
		</ol>
		</div>
	</div>

	<div class='list'>
	<p>Actions:</p>
	<ul>
		<li><a class='actionLink' href="{{url_for('editBaseMenuItem',
							   cuisine_id=cuisine.id,
							   baseMenuItem_id=baseMenuItem.id)}}">
			Edit</a>
		</li>
		<li><a class='actionLink' href="{{url_for('deleteBaseMenuItem', 
							   cuisine_id=cuisine.id,
							   baseMenuItem_id=baseMenuItem.id)}}">
			Delete</a>
		</li>
	</ul>
	</div>
<script src="{{url_for('static', filename='login.js')}}">
</script>
<script src="{{url_for('static', filename='signOut.js')}}">
</script>

<script>displayBasedOnLogin({{intBooleanLoggedIn}});
</script>

<script>
	// (could not get this to work properly in external .js file --
	//  the setAttribute would take this page's url and append the "url for" part)
  	// if appropriate, changes src of #photo from link to served file
    if ('{{picture.serve_type}}' === 'upload') {

    	console.log("is upload");
		document.getElementById("photo").setAttribute("src", "{{url_for('uploaded_picture', filename=picture.text)}}");
    }
</script>
</body>
</html>