<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Cuisines.css')}}">
</head>
<body> 
	<h1 class='header'>
		{{cuisine.name}}
	</h1>

	<div class='homeLinks'>
		<a href="{{url_for('restaurants')}}">restaurants</a>
		<a href="{{url_for('restaurantManagerIndex')}}">home</a>
		<a href="{{url_for('cuisines')}}">cuisines</a>
	</div>

	<p>
		<a class='backLink' href="{{url_for('cuisines')}}">
			Back to the cuisine list
		</a>
	</p>

	<div class='flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	</div>

	<div class='stats'>
		<p>Stats for cuisine '{{cuisine.name}}':</p>
		<ul>
			<li>ID: {{cuisine.id}}</li>
			<li>Most expensive base menu item: {{mostExpensiveBaseMenuItem.name}} 
				({{mostExpensiveBaseMenuItem.price}})</li>
			<li>Most expensive restaurant menu item: 
				{{mostExpensiveRestaurantMenuItem.name}} 
				({{mostExpensiveRestaurantMenuItem.price}}) at 
				restaurant {{mostExpensiveRestaurantMenuItem.restaurant_id}}</li>
		</ul>

		<div class='list'>
		<p>
			Base menu items with this cuisine:
		</p>
		<ol>
			{% for item in baseMenuItems %}
			<li>
			<a class='forwardLink' href="{{url_for('baseMenuItem',
							   cuisine_id=cuisine.id,
							   baseMenuItem_id=item.id)}}">
				{{item.name}}</a>
			</li>
			{% endfor %}
		</ol>
		<ul>
			<li><a class='actionLink' href="{{url_for('addBaseMenuItem', 
							   	   cuisine_id=cuisine.id)}}">
				Add base menu item</a>
			</li>
		</ul>
		</div>

		<div class='list'>
		<p>
			Restaurants with this as primary cuisine:
		</p>
		<ol>
			{% for restaurant in restaurants %}
			<li>
			<a class='forwardLink' href="{{url_for('restaurant',
							   restaurant_id=restaurant.id)}}">
				{{restaurant.name}} (ID {{restaurant.id}})</a>
			</li>
			{% endfor %}
		</ol>
		</div>

		<div class='list'>
		<p>
			Restaurant menu items with this cuisine:
		</p>
		<ol>
			{% for item in restaurantMenuItems %}
			<li>
			<a class='forwardLink' href="{{url_for('restaurantMenuItem',
							   restaurant_id=item.restaurant_id,
							   restaurantMenuItem_id=item.id)}}">
				{{item.name}} (at restaurant {{item.restaurant_id}})</a>
			</li>
			{% endfor %}
		</ol>
		</div>
	</div>

	<div class='list'>
	<p>Other Actions:</p>
	<ul>
		<li><a class='actionLink' href="{{url_for('editCuisine', 
							   cuisine_id=cuisine.id)}}">
			Edit cuisine</a>
		</li>
		<li><a class='actionLink' href="{{url_for('deleteCuisine', 
							   cuisine_id=cuisine.id)}}">
			Delete cuisine</a>
		</li>
	</ul>
	</div>
</body>
</html>