<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Cuisines.css')}}">
</head>
<body> 
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<div id='signIn'>

				<div id='loginStatus'>
					{{client_login_session['message']}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=client_login_session['user_id'])}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>

   <!-- a non-displayed, floated-right div that mirrors the "real" (displayed), floated-left #signIn div (which has variable length). 
   Used to ensure #pageTitle is centered on the page instead of centered in the
   spaced to the right of the floating "real/visible" signIn box -->
			<div id='fakeSignIn'>

				<div id='fakeLoginStatus'>
					{{client_login_session['message']}}
				</div>

				<span class='hideLoggedIn' id='fakeLoginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='fakeProfileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=client_login_session['user_id'])}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='fakeSignOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>		

			<div id='pageTitle' class='header'>
				{{cuisine.name}}
			</div>
			
		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
				<a href="{{url_for('users')}}">users</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
			</div>
		</div>
	</div>

<!-- 
	for ensuring that content is the appropriate distance from the header
	(when scrolled to top) as the header changes height
	(not "perfect", but very close)
-->
<div id='bodyPadding'> 
	{{cuisine.name}}
</div>

<div id='pageContent'>
	<p>
		<a id='topContent' class='backLink' href="{{url_for('cuisines')}}">
			Back to the cuisine list
		</a>
	</p>

	<div class='flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	</div>

	<div class='stats'>
		<p>Stats for cuisine '{{cuisine.name}}':</p>
		<ul>
			<li>ID: {{cuisine.id}}</li>
			<li>Most expensive base menu item: {{mostExpensiveBaseMenuItem.name}} 
				({{mostExpensiveBaseMenuItem.price}})</li>
			<li>Most expensive restaurant menu item: 
				{{mostExpensiveRestaurantMenuItem.name}} 
				({{mostExpensiveRestaurantMenuItem.price}}) at 
				restaurant {{mostExpensiveRestaurantMenuItem.restaurant_id}}</li>
		</ul>

		<div class='list'>
		<p>
			Restaurants with cuisine '{{cuisine.name}}' as primary cuisine:
		</p>
		<span class='hideLoggedOut' id='restNote'>
			(Your restaurants are highlighted)
		</span>
		<ol>
			{% for restaurantID in restaurantDicts %}
			<li>
			<span class="{{restaurantDicts[restaurantID]['ownership']}}"><a class='forwardLink' href="{{url_for('restaurant', restaurant_id=restaurantID)}}">
				{{restaurantDicts[restaurantID]['restaurant'].name}} (ID {{restaurantDicts[restaurantID]['restaurant'].id}})</a></span>
			</li>
			{% endfor %}
		</ol>
		</div>

		<div class='list'>
		<p>
			Base menu items with cuisine '{{cuisine.name}}' (and the restaurant menu items that are based on them):
		</p>
		<span class='hideLoggedOut' id='itemNote'>
			(Your restaurant menu items are highlighted)
		</span>
		<ul>
			<!-- apps -->
			<li>
				Appetizers:
				<ol>
					{% for itemID in sectionedBaseItemsWithChildren['Appetizer'] %}
					<li>
						<a class='forwardLink' href="{{url_for('baseMenuItem',
							cuisine_id=cuisine.id, baseMenuItem_id=itemID)}}">
						{{sectionedBaseItemsWithChildren['Appetizer'][itemID]['item'].name}}</a>
						<ol>
							{% for childID in sectionedBaseItemsWithChildren['Appetizer'][itemID]['children'] %}
							<li>
								<span class="{{sectionedBaseItemsWithChildren['Appetizer'][itemID]['children'][childID]['ownership']}}"><a class='forwardLink' href="{{url_for('restaurantMenuItem', restaurant_id=sectionedBaseItemsWithChildren['Appetizer'][itemID]['children'][childID]['item'].restaurant_id, restaurantMenuItem_id=childID)}}">
								{{sectionedBaseItemsWithChildren['Appetizer'][itemID]['children'][childID]['item'].name}} (at restaurant {{sectionedBaseItemsWithChildren['Appetizer'][itemID]['children'][childID]['item'].restaurant_id}})</a></span>
							</li>
							{% endfor %}
						</ol>
					</li>
					{% endfor %}
				</ol>
			</li>
			<!-- mains -->
			<li>
				Main Courses:
				<ol>
					{% for itemID in sectionedBaseItemsWithChildren['Main Course'] %}
					<li>
						<a class='forwardLink' href="{{url_for('baseMenuItem', cuisine_id=cuisine.id, baseMenuItem_id=itemID)}}">
						{{sectionedBaseItemsWithChildren['Main Course'][itemID]['item'].name}}</a>
						<ol>
							{% for childID in sectionedBaseItemsWithChildren['Main Course'][itemID]['children'] %}
							<li>
								<span class="{{sectionedBaseItemsWithChildren['Main Course'][itemID]['children'][childID]['ownership']}}"><a class='forwardLink' href="{{url_for('restaurantMenuItem', restaurant_id=sectionedBaseItemsWithChildren['Main Course'][itemID]['children'][childID]['item'].restaurant_id, restaurantMenuItem_id=childID)}}">
								{{sectionedBaseItemsWithChildren['Main Course'][itemID]['children'][childID]['item'].name}} (at restaurant {{sectionedBaseItemsWithChildren['Main Course'][itemID]['children'][childID]['item'].restaurant_id}})</a></span>
							</li>
							{% endfor %}
						</ol>
					</li>
					{% endfor %}
				</ol>
			</li>
			<!-- sides -->
			<li>
				Side Dishes:
				<ol>
					{% for itemID in sectionedBaseItemsWithChildren['Side Dish'] %}
					<li>
						<a class='forwardLink' href="{{url_for('baseMenuItem', cuisine_id=cuisine.id, baseMenuItem_id=sectionedBaseItemsWithChildren['Side Dish'][itemID]['item'].id)}}">
						{{sectionedBaseItemsWithChildren['Side Dish'][itemID]['item'].name}}</a>
						<ol>
							{% for childID in sectionedBaseItemsWithChildren['Side Dish'][itemID]['children'] %}
							<li>
								<span class="{{sectionedBaseItemsWithChildren['Side Dish'][itemID]['children'][childID]['ownership']}}"><a class='forwardLink' href="{{url_for('restaurantMenuItem', restaurant_id=sectionedBaseItemsWithChildren['Side Dish'][itemID]['children'][childID]['item'].restaurant_id, restaurantMenuItem_id=childID)}}">
								{{sectionedBaseItemsWithChildren['Side Dish'][itemID]['children'][childID]['item'].name}} (at restaurant {{sectionedBaseItemsWithChildren['Side Dish'][itemID]['children'][childID]['item'].restaurant_id}})</a></span>
							</li>
							{% endfor %}
						</ol>
					</li>
					{% endfor %}
				</ol>
			</li>
			<!-- drinks -->
			<li>
				Drinks:
				<ol>
					{% for itemID in sectionedBaseItemsWithChildren['Drink'] %}
					<li>
						<a class='forwardLink' href="{{url_for('baseMenuItem',
							cuisine_id=cuisine.id, baseMenuItem_id=itemID)}}">
						{{sectionedBaseItemsWithChildren['Drink'][itemID]['item'].name}}</a>
						<ol>
							{% for childID in sectionedBaseItemsWithChildren['Drink'][itemID]['children'] %}
							<li>
								<span class="{{sectionedBaseItemsWithChildren['Drink'][itemID]['children'][childID]['ownership']}}"><a class='forwardLink' href="{{url_for('restaurantMenuItem', restaurant_id=sectionedBaseItemsWithChildren['Drink'][itemID]['children'][childID]['item'].restaurant_id, restaurantMenuItem_id=childID)}}">
								{{sectionedBaseItemsWithChildren['Drink'][itemID]['children'][childID]['item'].name}} (at restaurant {{sectionedBaseItemsWithChildren['Drink'][itemID]['children'][childID]['item'].restaurant_id}})</a></span>
							</li>
							{% endfor %}
						</ol>
					</li>
					{% endfor %}
				</ol>
			</li>
			<!-- desserts -->
			<li>
				Desserts:
				<ol>
					{% for itemID in sectionedBaseItemsWithChildren['Dessert'] %}
					<li>
						<a class='forwardLink' href="{{url_for('baseMenuItem',
							cuisine_id=cuisine.id, baseMenuItem_id=itemID)}}">
						{{sectionedBaseItemsWithChildren['Dessert'][itemID]['item'].name}}</a>
						<ol>
							{% for childID in sectionedBaseItemsWithChildren['Dessert'][itemID]['children'] %}
							<li>
								<span class="{{sectionedBaseItemsWithChildren['Dessert'][itemID]['children'][childID]['ownership']}}"><a class='forwardLink' href="{{url_for('restaurantMenuItem', restaurant_id=sectionedBaseItemsWithChildren['Dessert'][itemID]['children'][childID]['item'].restaurant_id, restaurantMenuItem_id=childID)}}">
								{{sectionedBaseItemsWithChildren['Dessert'][itemID]['children'][childID]['item'].name}} (at restaurant {{sectionedBaseItemsWithChildren['Dessert'][itemID]['children'][childID]['item'].restaurant_id}})</a></span>
							</li>
							{% endfor %}
						</ol>
					</li>
					{% endfor %}
				</ol>
			</li>
			<!-- other -->
			<li>
				Other:
				<ol>
					{% for itemID in sectionedBaseItemsWithChildren['Other'] %}
					<li>
						<a class='forwardLink' href="{{url_for('baseMenuItem',
							cuisine_id=cuisine.id, baseMenuItem_id=itemID)}}">
						{{sectionedBaseItemsWithChildren['Other'][itemID]['item'].name}}</a>
						<ol>
							{% for childID in sectionedBaseItemsWithChildren['Other'][itemID]['children'] %}
							<li>
								<span class="{{sectionedBaseItemsWithChildren['Other'][itemID]['children'][childID]['ownership']}}"><a class='forwardLink' href="{{url_for('restaurantMenuItem', restaurant_id=sectionedBaseItemsWithChildren['Other'][itemID]['children'][childID]['item'].restaurant_id, restaurantMenuItem_id=childID)}}">
								{{sectionedBaseItemsWithChildren['Other'][itemID]['children'][childID]['item'].name}} (at restaurant {{sectionedBaseItemsWithChildren['Other'][itemID]['children'][childID]['item'].restaurant_id}})</a></span>
							</li>
							{% endfor %}
						</ol>
					</li>
					{% endfor %}
				</ol>
			</li>
		</ul>
		<ul>
			<li><a class='actionLink' href="{{url_for('addBaseMenuItem', 
							   	   cuisine_id=cuisine.id)}}">
				Add base menu item</a>
			</li>
		</ul>
		</div>
	</div>

	<div class='list'>
	<p>Other Actions:</p>
	<ul>
		<li><a class='actionLink' href="{{url_for('editCuisine', 
							   cuisine_id=cuisine.id)}}">
			Edit cuisine</a>
		</li>
		<li><a class='actionLink' href="{{url_for('deleteCuisine', 
							   cuisine_id=cuisine.id)}}">
			Delete cuisine</a>
		</li>
	</ul>
	</div>
</div>
<script src="{{url_for('static', filename='login.js')}}">
</script>
<script>displayBasedOnLogin("{{client_login_session['message']}}");
</script>
</body>
</html>