<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Restaurants.css')}}">
</head>
<body>
	<h1 class='header'>
		Delete {{restaurant.name}}
	</h1>

	<div class='homeLinks'>
		<a href="{{url_for('restaurants')}}">restaurants</a>
		<a href="{{url_for('restaurantManagerIndex')}}">home</a>
		<a href="{{url_for('cuisines')}}">cuisines</a>
	</div>

	<div class='actionText'>
		<p>
			Delete restaurant '{{restaurant.name}}' (ID {{restaurant.id}}) from the database.
		</p>
	</div>

	<p>
		<a class='backLink' href="{{url_for('restaurant',
				restaurant_id=restaurant.id)}}">Cancel</a>
	</p>

	<form class='form' action="{{url_for('deleteRestaurant', 
							restaurant_id=restaurant.id)}}"
		method='post'>

		<p>
			WARNING: This will also delete all of this restaurant's restaurant menu items.
		</p>

		<input type='submit' value='Delete Restaurant'>
	
	</form>
</body>
</html>