<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Cuisines.css')}}">
</head>
<body>
	<h1 class='header'>
		Delete {{baseMenuItem.name}}
	</h1>

	<div class='homeLinks'>
		<a href="{{url_for('restaurants')}}">restaurants</a>
		<a href="{{url_for('restaurantManagerIndex')}}">home</a>
		<a href="{{url_for('cuisines')}}">cuisines</a>
	</div>

	<div class='actionText'>
		<p>Delete base menu item '{{baseMenuItem.name}}' (ID {{baseMenuItem.id}}) from the database.
		</p>
	</div>

	<a class='backLink' href="{{url_for('baseMenuItem',
					   cuisine_id=cuisine_id,
					   baseMenuItem_id=baseMenuItem.id)}}">
		Cancel</a>

	<form class='form' action="{{url_for('deleteBaseMenuItem', 
							cuisine_id=cuisine_id,
							baseMenuItem_id=baseMenuItem.id)}}"
		method='post'>

		<p> 
			WARNING: Deleting this item will also set the base item for all related restaurant menu items to "Base Item with no Specific Cuisine".
		</p>

		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>

		<input type='submit' value='Delete Item'>
	
	</form>
<script>
// hide/show according to whether logged in.  need to do it with JS because setting the display='none' property in the HTML with passed variable from Python does not work because it is overridden by a "display='in-line'" property given by ???
if ({{intBooleanLoggedIn}}==1) { 

	hide = document.getElementsByClassName("hideLoggedIn");
}
else {

	hide = document.getElementsByClassName("hideLoggedOut");
}

for (i = 0; i < hide.length; i++) {
	hide[i].style.display = "none";
}
</script>

<script>
function signOut() {

	var xhttp = new XMLHttpRequest();

	xhttp.onreadystatechange = function() {
    	if (xhttp.readyState == 4 && xhttp.status == 200) {
    		console.log(xhttp.readyState);
    		console.log(xhttp.status);
     		window.alert(xhttp.responseText);
     		location.reload();
    	}
    }

    xhttp.open("POST", "/disconnect", true);
	xhttp.send();
};
</script>
</body>
</html>