<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Restaurants.css')}}">
</head>
<body>
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<span id='signIn'>

				<div id='loginStatus'>
					{{loginStatusMessage}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="#">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</span>	

			<h1 id='pageTitle' class='header'>
				Delete '{{restaurant.name}}'
			</h1>

		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
			</div>
		</div>
	</div>

<div id='pageContent'>

	<div class='actionText'>
		<p>
			Delete restaurant '{{restaurant.name}}' (ID {{restaurant.id}}) from the database.
		</p>
	</div>

	<p>
		<a class='backLink' href="{{url_for('restaurant',
				restaurant_id=restaurant.id)}}">Cancel</a>
	</p>

	<form class='form' action="{{url_for('deleteRestaurant', 
							restaurant_id=restaurant.id)}}"
		method='post'>

		<p>
			WARNING: This will also delete all of this restaurant's restaurant menu items.
		</p>

		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>

		<input type='submit' value='Delete Restaurant'>
	
	</form>
</div>
</body>
<script src="{{url_for('static', filename='login.js')}}">
</script>
<script src="{{url_for('static', filename='signOut.js')}}">
</script>
<script>displayBasedOnLogin({{intBooleanLoggedIn}});
</script>
<script>
</html>