<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Cuisines.css')}}">
</head>
<body>
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<span id='signIn'>

				<div id='loginStatus'>
					{{loginStatusMessage}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="#">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</span>	

			<h1 id='pageTitle' class='header'>
				Delete '{{cuisine.name}}'
			</h1>

		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
			</div>
		</div>
	</div>
<div id='pageContent'>
	<div class='actionText'>
		<p>
			Delete {{cuisine.name}} from the cuisine list (and database).
		</p>

	<p>
		<a class='backLink' href="{{url_for('cuisine', cuisine_id=cuisine.id)}}">Cancel</a>
	</p>

	<form class='form' action="{{url_for('deleteCuisine', 
							cuisine_id=cuisine.id)}}"
		method='post'>

		<p>
		WARNING: This will also:
		<ol>
			<li>
				Set the base menu item of all restaurant menu items with a base menu item with this cuisine to "Base Item for Restaurant Menu Items with No Specific Cuisine", 
			</li>
			<li>
				Delete all base menu items for this cuisine, and
			</li>
			<li>
				Set the cuisine of all restaurants with this cuisine to "No Specific Cuisine".
			</li>
		</ol>
		</p>

		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>

		<input type='submit' value='Delete Cuisine'>
	
	</form>
</div>
<script src="{{url_for('static', filename='login.js')}}">
</script>
<script src="{{url_for('static', filename='signOut.js')}}">
</script>
<script>displayBasedOnLogin({{intBooleanLoggedIn}});
</script>
</body>
</html>