<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Restaurants.css')}}">
</head>
<body>
	<h1 class='header'>
		Delete {{restaurantMenuItem.name}}
	</h1>

	<div class='homeLinks'>
		<a href="{{url_for('restaurants')}}">restaurants</a>
		<a href="{{url_for('restaurantManagerIndex')}}">home</a>
		<a href="{{url_for('cuisines')}}">cuisines</a>
	</div>

	<div class='actionText'>
		<p>
			Delete {{restaurantMenuItem.name}} (ID {{restaurantMenuItem.id}}) from {{restaurant.name}}'s (ID {{restaurant.id}}) menu.
		</p>
	</div>

	<p>
		<a class='backLink' href="{{url_for('restaurantMenuItem',
					   restaurant_id=restaurant.id,
					   restaurantMenuItem_id=restaurantMenuItem.id)}}">
			Cancel</a>
	</p>

	<form class='form' action="{{url_for('deleteRestaurantMenuItem', 
							restaurant_id=restaurant.id,
							restaurantMenuItem_id=restaurantMenuItem.id)}}"
		method='post'>

		<input type='submit' value='Delete Item'>
	
	</form>
</body>
</html>