<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Users.css')}}">
</head>
<body>
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<div id='signIn'>

				<div id='loginStatus'>
					{{client_login_session['message']}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' hereref="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=user.id)}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

   <!-- a non-displayed, floated-right div that mirrors the "real" (displayed), floated-left #signIn div (which has variable length). 
   Used to ensure #pageTitle is centered on the page instead of centered in the
   spaced to the right of the floating "real/visible" signIn box -->
			<div id='fakeSignIn'>

				<div id='fakeLoginStatus'>
					{{client_login_session['message']}}
				</div>

				<span class='hideLoggedIn' id='fakeLoginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='fakeProfileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=user.id)}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='fakeSignOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>

			<div id='pageTitle' class='header'>
				Delete '{{user.name}}'
			</div>

		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
				<a href="{{url_for('users')}}">users</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
			</div>
		</div>
	</div>

<!-- 
	for ensuring that content is the appropriate distance from the header
	(when scrolled to top) as the header changes height
	(not "perfect", but very close)
-->
<div id='bodyPadding'> 
	Delete '{{user.name}}'
</div>

<div id='pageContent'>

	<div class='actionText'>
		<p>
			Delete your profile ('{{user.name}}'; ID {{user.id}}; email {{user.email}}) from the database.
		</p>
	</div>

	<p>
		<a class='backLink' href="{{url_for('user', user_id=user.id)}}">Cancel</a>
	</p>

	<form class='form' action="{{url_for('deleteUser', user_id=user.id)}}" method='post' onsubmit='return deleteAndSignOut();'>

		<p>
			WARNING: This will also delete 1) all of this user's restaurant menu items and 2) all of this user's restaurants.
		<p>

		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>

		<input type='submit' value='Delete User'>
	
	</form>
</div>
</body>
<script src="{{url_for('static', filename='login.js')}}"></script>
<script>
	displayBasedOnLogin("{{client_login_session['message']}}");
</script>
</html>