<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Cuisines.css')}}">
</head>
<body>
	<h1 class='header'>
		Delete {{cuisine.name}}
	</h1>

	<div class='homeLinks'>
		<a href="{{url_for('restaurants')}}">restaurants</a>
		<a href="{{url_for('restaurantManagerIndex')}}">home</a>
		<a href="{{url_for('cuisines')}}">cuisines</a>
	</div>

	<div class='actionText'>
		<p>
			Delete {{cuisine.name}} from the cuisine list (and database).
		</p>

	<p>
		<a class='backLink' href="{{url_for('cuisine', cuisine_id=cuisine.id)}}">Cancel</a>
	</p>

	<form class='form' action="{{url_for('deleteCuisine', 
							cuisine_id=cuisine.id)}}"
		method='post'>

		<p>
		WARNING: This will also:
		<ol>
			<li>
				Set the base menu item of all restaurant menu items with a base menu item with this cuisine to "Base Item for Restaurant Menu Items with No Specific Cuisine", 
			</li>
			<li>
				Delete all base menu items for this cuisine, and
			</li>
			<li>
				Set the cuisine of all restaurants with this cuisine to "No Specific Cuisine".
			</li>
		</ol>
		</p>

		<input type='submit' value='Delete Cuisine'>
	
	</form>
</body>
</html>