<html>
<body>
	<h1>Edit Restaurant Menu Item</h1>
	
	<h3>Edit item {{restaurantMenuItem.id}} from restaurant 
		{{restaurant_id}}'s menu
	</h3>

	<p> NOTE: Leave a box blank if you do not wish to change its value.</p>

	<a href="{{url_for('restaurantMenu',restaurant_id=restaurant_id)}}">
		Cancel (return to menu)
	</a>

	<form action="{{url_for('editRestaurantMenuItem', 
							restaurant_id=restaurant_id,
							restaurantMenuItem_id=restaurantMenuItem.id)}}"
		method='post'>

		<p>Change Item Name to:</p>
		<input type='text' size='30' name='name' 
			placeholder='{{restaurantMenuItem.name}}'>
		<p>Change Item Description to:</p>
		<input type='text' size='60' name='description' 
			placeholder='{{restaurantMenuItem.description}}'>
		<p>Change Item Price to:</p>
		<input type='text' size='30' name='price' 
			placeholder='{{restaurantMenuItem.price}}'>

		<input type='submit' value='Submit Changes'>

	</form>
</body>
</html>