<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Cuisines.css')}}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
	</script>
</head>
<body>
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<div id='signIn'>

				<div id='loginStatus'>
					{{client_login_session['message']}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=client_login_session['user_id'])}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

   <!-- a non-displayed, floated-right div that mirrors the "real" (displayed), floated-left #signIn div (which has variable length). 
   Used to ensure #pageTitle is centered on the page instead of centered in the
   spaced to the right of the floating "real/visible" signIn box -->
			<div id='fakeSignIn'>

				<div id='fakeLoginStatus'>
					{{client_login_session['message']}}
				</div>

				<span class='hideLoggedIn' id='fakeLoginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='fakeProfileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=client_login_session['user_id'])}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='fakeSignOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

			<div id='pageTitle' class='header'>
				Edit '{{cuisine.name}}'
			</div>

		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
				<a href="{{url_for('users')}}">users</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
			</div>
		</div>
	</div>

<!-- 
	for ensuring that content is the appropriate distance from the header
	(when scrolled to top) as the header changes height
	(not "perfect", but very close)
-->
<div id='bodyPadding'> 
	Edit '{{cuisine.name}}'
</div>

<div id='pageContent'>
	
	<div class='actionText'>
		<p>
			Edit cuisine '{{cuisine.name}}'' (ID {{cuisine.id}}).
		</p>
	</div>

	<a class='backLink' href="{{url_for('cuisine',cuisine_id=cuisine.id)}}">
		Cancel
	</a>

	<form class='form' id='editCuisineForm' action="{{url_for('editCuisine', cuisine_id=cuisine.id)}}" onsubmit="return checkForm(document.getElementById('editCuisineForm'));" method='post'>

		<h3 class='header'>
			Cuisine Attributes to Edit
		</h3>

		<p> 
			Note that cuisine names must be unique, so you will get an error if the cuisine name already exisits in the database.
		</p>

		<p>Change Cuisine Name to:</p>
		<input id='name' optional type='text' maxlength='80' size='50' name='name' placeholder='{{cuisine.name}}' oninput="realTimeUniqueCheck($('#name').val(), 'Cuisine', 'name', $('#name'));">
		<span id='nameUniqueAlert'>OK: Not in use yet</span>
		</br>
		</br>
		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>

		<input type='submit' value='Submit Changes'>

	</form>
<script src="{{url_for('static', filename='login.js')}}"></script>
<script src="{{url_for('static', filename='forms.js')}}"></script>
<script src="{{url_for('static', filename='jsonAjax.js')}}"></script>
<script>
	displayBasedOnLogin("{{client_login_session['message']}}");
</script>
</body>
</html>