<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Cuisines.css')}}">
</head>
<body>
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<span id='signIn'>

				<div id='loginStatus'>
					{{loginStatusMessage}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="#">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</span>	

			<h1 id='pageTitle' class='header'>
				Edit '{{baseMenuItem.name}}'
			</h1>

		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
				<a href="{{url_for('users')}}">users</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
			</div>
		</div>
	</div>

<div id='pageContent'>
	<div class='actionText'>
		<p>
			Edit base menu item '{{baseMenuItem.name}}' (ID {{baseMenuItem.id}}) from from cuisine {{cuisine.name}}'s base menu.
		</p>
	</div>

	<a class='backLink' href="{{url_for('baseMenuItem',
					   cuisine_id=cuisine.id,
					   baseMenuItem_id=baseMenuItem.id)}}">
		Cancel
	</a>

	<form class='form' action="{{url_for('editBaseMenuItem', 
							cuisine_id=cuisine.id,
							baseMenuItem_id=baseMenuItem.id)}}"
		method='post' enctype=multipart/form-data>

		<h3 class='header'>
			Base Menu Item Attributes to Edit
		</h3>

		<p>
			Important notes:
			<ul>
				<li>
					NOTE: Leave a box blank if you do not wish to change its value.
				</li>
				<li>
					Also note that you cannot change the cuisine type.  If you want to do that, you're better off creating a new base menu item.
				</li>
			</ul>
		</p>

		<p>Change Item Name to:</p>
		<input type='text' size='30' name='name' 
			placeholder='{{baseMenuItem.name}}'>

		<p>Change Item Description to:</p>
		<input type='text' size='60' name='description' 
			placeholder='{{baseMenuItem.description}}'>

		<p>Change Item Price to:</p>
		<input type='text' size='30' name='price' 
			placeholder='{{baseMenuItem.price}}'>

		<p>
			Current Picture:
		</p>
		<div class='photo'>
			<img id='photo' src="{{picture.text}}" alt='[picture of {{baseMenuItem.name}}]' max-width=100%>
		</div>

		<p>Change Item Picture to (uploaded pics must be .jpg, .jpeg, or .png):</p>
		<input type='file' name='pictureFile' accept='image/*'>
		<div id='photoOr'>or provide link:</div>
		<input type='text' name='pictureLink' size='60'
			placeholder='{{picture.text}}'>

		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>

		</br>
		</br>
		</br>
		<input id='submitButton' type='submit' value='Submit Changes'>

	</form>
</div>
<script src="{{url_for('static', filename='login.js')}}">
</script>
<script src="{{url_for('static', filename='signOut.js')}}">
</script>

<script>displayBasedOnLogin({{intBooleanLoggedIn}});
</script>

<script>
	// (could not get this to work properly in external .js file --
	//  the setAttribute would take this page's url and append the "url for" part)
  	// if appropriate, changes src of #photo from link to served file
    if ('{{picture.serve_type}}' === 'upload') {

    	console.log("is upload");
		document.getElementById("photo").setAttribute("src", "{{url_for('uploaded_picture', filename=picture.text)}}");
    }
</script>
</body>
</html>