<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Cuisines.css')}}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
	</script>
</head>
<body>
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<div id='signIn'>

				<div id='loginStatus'>
					{{loginStatusMessage}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=user_id)}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

    <!-- a non-displayed, floated-right div that mirrors the "real" (displayed), floated-left #signIn div (which has variable length). 
   Used to ensure #pageTitle is centered on the page instead of centered in the
   spaced to the right of the floating "real/visible" signIn box -->
			<div id='fakeSignIn'>

				<div id='fakeLoginStatus'>
					{{loginStatusMessage}}
				</div>

				<span class='hideLoggedIn' id='fakeLoginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='fakeProfileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=user_id)}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='fakeSignOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

			<div id='pageTitle' class='header'>
				Edit '{{baseMenuItem.name}}'
			</div>

		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
				<a href="{{url_for('users')}}">users</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
			</div>
		</div>
	</div>

<!-- 
	for ensuring that content is the appropriate distance from the header
	(when scrolled to top) as the header changes height
	(not "perfect", but very close)
-->
<div id='bodyPadding'> 
	Edit '{{baseMenuItem.name}}'
</div>

<div id='pageContent'>
	<div class='actionText'>
		<p>
			Edit base menu item '{{baseMenuItem.name}}' (ID {{baseMenuItem.id}}) from from cuisine {{cuisine.name}}'s base menu.
		</p>
	</div>

	<a class='backLink' href="{{url_for('baseMenuItem',
					   cuisine_id=cuisine.id,
					   baseMenuItem_id=baseMenuItem.id)}}">
		Cancel</a>

	<form id='editBaseMenuItemForm' class='form' action="{{url_for('editBaseMenuItem', cuisine_id=cuisine.id, baseMenuItem_id=baseMenuItem.id)}}" method='post' onsubmit="return checkForm(document.getElementById('editBaseMenuItemForm'));" enctype=multipart/form-data>

		<h3 class='header'>
			Base Menu Item Attributes to Edit
		</h3>

		<p>
			Important notes:
			<ul>
				<li>
					Leave a box blank if you do not wish to change its value.
				</li>
				<li>
					You cannot change the cuisine type.  If you want to do that, you're better off creating a new base menu item.
				</li>
			</ul>
		</p>

		<p>Change Item Name to:</p>
		<input id='name' type='text' optional maxlength='80' size='30' name='name' placeholder='{{baseMenuItem.name}}'>
		<span id='nameUniqueAlert'>OK: Not in use yet</span>

		<p>Change Item Description to:</p>
		<input id='description' type='text' optional maxlength='250' size='80' name='description' placeholder='{{baseMenuItem.description}}'>

		<p>Change Item Price to (must containly only digits and a decimal point):</p>
		<input id='price' type='text' optional pattern='[0-9]*(.[0-9][0-9])?' size='10' name='price' placeholder='{{baseMenuItem.price}}'>

		<p>
			Current Picture:
		</p>
		<div class='photo'>
			<img id='photo' src="{{picture.text}}" alt='[picture of {{baseMenuItem.name}}]' max-width=100%>
		</div>

		<p>Change Item Picture to (uploaded pics must be .jpg, .jpeg, or .png):</p>
		<input id='pictureFile' type='file' maxlength='300' optional name='pictureFile' accept='image/.jpg image/.jpeg image/.png'>
		<div class='orText'>or provide link (must start with 'http://' or 'https://'):</div>
		<input id='pictureLink' type='url' optional maxlength='300' size='80' pattern="https?://.+" name='pictureLink' placeholder='Link to item picture'>

		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>

		</br>
		</br>
		</br>
		<input id='submitButton' type='submit' value='Submit Changes'>

	</form>
</div>
<script src="{{url_for('static', filename='login.js')}}">
</script>
<script src="{{url_for('static', filename='signOut.js')}}">
</script>
<script src="{{url_for('static', filename='forms.js')}}">
</script>
<script>displayBasedOnLogin({{intBooleanLoggedIn}});
</script>
<script>
$('#name').on('input', function() { 

	realTimeUniqueCheck($(this).val(), 'BaseMenuItem', 'name', $(this));
});
</script>
<script>
	// (could not get this to work properly in external .js file --
	//  the setAttribute would take this page's url and append the "url for" part)
  	// if appropriate, changes src of #photo from link to served file
    if ('{{picture.serve_type}}' === 'upload') {

		document.getElementById("photo").setAttribute("src", "{{url_for('uploaded_picture', filename=picture.text)}}");
    }
</script>
</body>
</html>