<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Restaurants.css')}}">
</head>
<body>
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<span id='signIn'>

				<div id='loginStatus'>
					{{loginStatusMessage}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="#">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</span>	

			<h1 id='pageTitle' class='header'>
				Edit '{{restaurantMenuItem.name}}'
			</h1>

		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
			</div>
		</div>
	</div>

<div id='pageContent'>
	
	<div class='actionText'>
		<p>
			Edit {{restaurantMenuItem.name}} (ID {{restaurantMenuItem.id}}) on {{restaurant.name}}'s (ID {{restaurant.id}}) menu.
		</p>
	</div>

	<p>
		<a class='backLink' href="{{url_for('restaurantMenuItem',
					   restaurant_id=restaurant.id,
					   restaurantMenuItem_id=restaurantMenuItem.id)}}">
			Cancel</a>
	</p>

	<form class='form' action="{{url_for('editRestaurantMenuItem', 
							restaurant_id=restaurant.id,
							restaurantMenuItem_id=restaurantMenuItem.id)}}"
		method='post' enctype=multipart/form-data>

		<h3 class='header'>
			Restaurant Menu Item Attributes to Edit
		</h3>

		<p>
			Important notes:
			<ul>
				<li>
					Leave a box blank if you do not wish to change its value.
				</li>
				<li>
					Also note you cannot change the base menu item.  If you want to do that, you're better off creating a new restaurant menu item.
				</li>
			</ul>
		</p>

		<p>Change Item Name to:</p>
		<input type='text' size='30' name='name' 
			placeholder='{{restaurantMenuItem.name}}'>

		<p>Change Item Description to:</p>
		<input type='text' size='60' name='description' 
			placeholder='{{restaurantMenuItem.description}}'>

		<p>Change Item Price to:</p>
		<input type='text' size='30' name='price' 
			placeholder='{{restaurantMenuItem.price}}'>

		<p>
			Current Picture:
		</p>
		<div class='photo'>
			<img id='photo' src="{{picture.text}}" alt='[picture of {{restaurant.name}}]' max-width=100%>
		</div>

		<p>Change Item Picture to (uploaded pics must be .jpg, .jpeg, or .png):</p>
		<input type='file' name='pictureFile' accept='image/*'>
		<div id='photoOr'>or provide link:</div>
		<input id='pictureLinkText' type='text' name='pictureLink' size='60'
			placeholder='{{picture.text}}'>

		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>

		</br>
		</br>
		</br>
		<input type='submit' value='Submit Changes'>

	</form>
</div>
<script src="{{url_for('static', filename='login.js')}}">
</script>
<script src="{{url_for('static', filename='signOut.js')}}">
</script>
<script>displayBasedOnLogin({{intBooleanLoggedIn}});
</script>
<script>
// if appropriate, changes src of #photo from link to served file
(function() {
	if ('{{picture.serve_type}}' === 'upload') {

	console.log("is upload");
		document.getElementById("photo").setAttribute("src", "{{url_for('uploaded_picture', filename=picture.text)}}");
	}
})();
</script>
</body>
</html>