<html>
<body>
	<h1>Edit Cuisine</h1>
	
	<h3>Edit {{cuisine.name}} (ID {{cuisine.id}})</h3>

	<p> 
		Note that cuisine names must be unique, so you will get an error if the cuisine name already exisits in the database.
	</p>

	<a href="{{url_for('cuisines')}}">
		Cancel
	</a>

	<form action="{{url_for('editCuisine', 
							cuisine_id=cuisine.id)}}"
		method='post'>

		<p>Change Cuisine Name to:</p>
		<input type='text' size='60' name='name' 
			placeholder='{{cuisine.name}}'>

		<input type='submit' value='Submit Changes'>

	</form>
</body>
</html>