<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Restaurants.css')}}">
</head>
<body>
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<div id='signIn'>

				<div id='loginStatus'>
					{{loginStatusMessage}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=user_id)}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

   <!-- a non-displayed, floated-right div that mirrors the "real" (displayed), floated-left #signIn div (which has variable length). 
   Used to ensure #pageTitle is centered on the page instead of centered in the
   spaced to the right of the floating "real/visible" signIn box -->
			<div id='fakeSignIn'>

				<div id='fakeLoginStatus'>
					{{loginStatusMessage}}
				</div>

				<span class='hideLoggedIn' id='fakeLoginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='fakeProfileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=user_id)}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='fakeSignOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

			<div id='pageTitle' class='header'>
				Edit '{{restaurant.name}}''
			</div>

		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
				<a href="{{url_for('users')}}">users</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
			</div>
		</div>
	</div>

<!-- 
	for ensuring that content is the appropriate distance from the header
	(when scrolled to top) as the header changes height
	(not "perfect", but very close)
-->
<div id='bodyPadding'> 
	Edit '{{restaurant.name}}''
</div>

<div id='pageContent'>
	
	<div class='actionText'>
		<p>
			Edit restaurant '{{restaurant.name}}' (ID {{restaurant.id}})
		</p>

	</div> 
		<a class='backLink' href="{{url_for('restaurant',restaurant_id=restaurant.id)}}">
			Cancel</a>
	</p>

	<form class='form' id='form' action="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}" method='post' enctype=multipart/form-data>

		<h3 class='header'>
			Restaurant Attributes to Edit
		</h3>

		<p>
			Imporant notes:
			<ul>
				<li>
					Leave a box blank or select the appropriate dropdown option if you do not wish to change a particular value.
				</li>
				<li>
					If you change the restaurant's cuisine, the menu and menu items will stay exactly the same.
				</li>
				<li>
					The cuisines listed in the dropdown are cuisines currently in use.  If you wish to change to a new cuisine, you must first create that custom cuisine <a class='actionLink' href="{{url_for('addCuisine')}}">here</a>.
				</li>
			</ul>
		</p>

		<p>Change Restaurant Cuisine to:</p>
		<select optional name="cuisineID">
		  <option value="-1">Do not change cuisine</option>
  		{% for cuisine in cuisines %}
  			<option value="{{cuisine.id}}">{{cuisine.name}}</option>
  		{% endfor %}
		</select>

		<p>Change Restaurant Name to:</p>
		<input optional type='text' maxlength='100' size='30' name='name' placeholder='{{restaurant.name}}'>

		<p>
			Current Picture:
		</p>
		<div class='photo'>
			<img id='photo' src="{{picture.text}}" alt='[picture of {{restaurant.name}}]' max-width=100%>
		</div>

		<p>Change Restaurant Picture to (uploaded pics must be .jpg, .jpeg, or .png):</p>
		<input type='file' optional name='pictureFile' accept='image/.jpg image/.jpeg image/.png'>
		<div id='orText'>or provide link (must start with 'http://' or 'https://'):</div>
		<input type='url' optional maxlength='300' size='80' pattern="https?://.+" name='pictureLink' placeholder='{{picture.text}}'>

		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>

		</br>
		</br>
		</br>
		<input type='submit' value='Submit Changes'>

	</form>
</div>
<script src="{{url_for('static', filename='login.js')}}">
</script>
<script src="{{url_for('static', filename='signOut.js')}}">
</script>
<script>displayBasedOnLogin({{intBooleanLoggedIn}});
</script>
<script>
// if appropriate, changes src of #photo from link to served file
(function() {
	if ('{{picture.serve_type}}' === 'upload') {

	console.log("is upload");
		document.getElementById("photo").setAttribute("src", "{{url_for('uploaded_picture', filename=picture.text)}}");
	}
})();
</script>
</body>
</html>