<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Restaurants.css')}}">
</head>
<body>
	<h1 class='header'>
		Edit '{{restaurantMenuItem.name}}'
	</h1>
	
	<div class='homeLinks'>
		<a href="{{url_for('restaurants')}}">restaurants</a>
		<a href="{{url_for('restaurantManagerIndex')}}">home</a>
		<a href="{{url_for('cuisines')}}">cuisines</a>
	</div>
	
	<div class='actionText'>
		<p>
			Edit {{restaurantMenuItem.name}} (ID {{restaurantMenuItem.id}}) on {{restaurant.name}}'s (ID {{restaurant.id}}) menu.
		</p>
	</div>

	<p>
		<a class='backLink' href="{{url_for('restaurantMenuItem',
					   restaurant_id=restaurant.id,
					   restaurantMenuItem_id=restaurantMenuItem.id)}}">
			Cancel</a>
	</p>

	<form class='form' action="{{url_for('editRestaurantMenuItem', 
							restaurant_id=restaurant.id,
							restaurantMenuItem_id=restaurantMenuItem.id)}}"
		method='post'>

		<h3 class='header'>
			Restaurant Menu Item Attributes to Edit
		</h3>

		<p>
			Important notes:
			<ul>
				<li>
					Leave a box blank if you do not wish to change its value.
				</li>
				<li>
					Also note you cannot change the base menu item.  If you want to do that, you're better off creating a new restaurant menu item.
				</li>
			</ul>
		</p>

		<p>Change Item Name to:</p>
		<input type='text' size='30' name='name' 
			placeholder='{{restaurantMenuItem.name}}'>

		<p>Change Item Description to:</p>
		<input type='text' size='60' name='description' 
			placeholder='{{restaurantMenuItem.description}}'>

		<p>Change Item Price to:</p>
		<input type='text' size='30' name='price' 
			placeholder='{{restaurantMenuItem.price}}'>

		<p>
			Current Picture:
		</p>
		<div class='photo'>
			<img id='photo' src='{{restaurantMenuItem.picture}}' alt='[picture of {{restaurantMenuItem.name}}]' max-width=100%>
		</div>

		<p>Change Item Picture to:</p>
		<input type='file' name='pictureFile' accept='image/*'>
		<div id='photoOr'>or provide link:</div>
		<input type='text' name='pictureLink' size='60'
			placeholder='{{restaurantMenuItem.picture}}'>

		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>

		</br>
		</br>
		</br>
		<input type='submit' value='Submit Changes'>

	</form>
</body>
</html>