<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Users.css')}}">
</head>
<body>
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<div id='signIn'>

				<div id='loginStatus'>
					{{client_login_session['message']}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=user.id)}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

   <!-- a non-displayed, floated-right div that mirrors the "real" (displayed), floated-left #signIn div (which has variable length). 
   Used to ensure #pageTitle is centered on the page instead of centered in the
   spaced to the right of the floating "real/visible" signIn box -->
			<div id='fakeSignIn'>

				<div id='fakeLoginStatus'>
					{{client_login_session['message']}}
				</div>

				<span class='hideLoggedIn' id='fakeLoginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='fakeProfileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=user.id)}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='fakeSignOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>

			<div id='pageTitle' class='header'>
				Edit Your Profile
			</div>

		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
				<a href="{{url_for('users')}}">users</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
			</div>
		</div>
	</div>

<!-- 
	for ensuring that content is the appropriate distance from the header
	(when scrolled to top) as the header changes height
	(not "perfect", but very close)
-->
<div id='bodyPadding'> 
	Edit Your Profile
</div>

<div id='pageContent'>
	<div class='actionText'>
		<p>
			Edit your profile information.
		</p>
	</div>

	<a class='backLink' href="{{url_for('user', user_id=user.id)}}">
		Cancel
	</a>

	<form class='form' id='editUserForm' action="{{url_for('editUser',user_id=user.id)}}" method='post' onsubmit="return checkForm(document.getElementById('editUserForm'));" enctype=multipart/form-data>

		<h3 class='header'>
			Profile Attributes to Edit
		</h3>

		<p>
			Important notes:
		</p>
		<ul>
			<li>
				Leave a box blank if you do not wish to change its value.
			</li>
			<li>
				You cannot change the email address associated with an account.
			</li>
		</ul>

		<!-- try to accept other language scripts (e.g., chinese) in name -->
		<p>Change Username Name to:</p>
		<input type='text' id='name' otpional size='30' name='name' maxlength='30' pattern='[^~`!@#\$%\^&\*\(\)_=\+\{}\[\]\\\|\.<>\?/;:]+' placeholder='{{user.name}}' value="">

		<p>
			Current Picture:
		</p>
		<div class='photo'>
			<img id='photo' src="{{picture.text}}" alt='[picture of {{user.name}}]' max-width=100%>
		</div>

		<p>Change Your Picture to (uploaded pics must be .jpg, .jpeg, or .png):</p>
		<input type='file' id='pictureFile' optional maxlength='300' name='pictureFile' accept='image/.jpg image/.jpeg image/.png'>
		<div id='orText'>or provide link (must start with 'http://' or 'https://'):</div>
		<input type='url' id='pictureLink' optional maxlength='300' name='pictureLink' pattern="https?://.+" size='80' placeholder='{{picture.text}}' value="">

		<input type='hidden' name='hiddenToken' value='{{hiddenToken}}'>

		</br>
		</br>
		</br>
		<input id='submitButton' type='submit' value='Submit Changes'>

	</form>
</div>
<script src="{{url_for('static', filename='login.js')}}">
</script>
<script src="{{url_for('static', filename='forms.js')}}">
</script>
<script>displayBasedOnLogin({{intBooleanLoggedIn}});
</script>
<script>
	// (could not get this to work properly in external .js file -- the setAttribute would append the "url for" to the page's url and insert that in the src instead of just the url_for. if appropriate, changes src of #photo from link to served file
    if ('{{picture.serve_type}}' === 'upload') {

		document.getElementById("photo").setAttribute("src", "{{url_for('uploaded_picture', filename=picture.text)}}");
    }
</script>
</body>
</html>