<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='index.css')}}">
	<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
	</script>

	<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
	<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
  	<script>
	// detect if logged in, if so hide the appropriate stuff
    $(document).ready(function() {
    	// is is an access token for this session
    	console.log({{isAccessToken}});
    	if ({{isAccessToken}}==1) { 
    		$('#signInButtons').html('Signed in as ' + '{{userName}}');
    	}
    	else {
       		$('.signOut').css("cssText", "display: none !important;");
    	}
	});
	</script>
</head>
<body>
<!--LOAD PRE-REQUISITES FOR FACEBOOK SIGN IN -->
<script>
	window.fbAsyncInit = function() {
		console.log("trying to init FB");
    	FB.init({
      		appId      : '1106203452759411',
      		xfbml      : true,
      		version    : 'v2.6'
    	});
    	console.log("finished trying");
  	};
  	// Load the SDK asynchronously
  	(function(d, s, id) {
  		
  		var js, fjs = d.getElementsByTagName(s)[0];
    	
    	if (d.getElementById(id)) return;
    	js = d.createElement(s); js.id = id;
    	js.src = "//connect.facebook.net/en_US/sdk.js";
    	fjs.parentNode.insertBefore(js, fjs);
    	console.log("loading");
	}(document, 'script', 'facebook-jssdk'));
</script>
<!-- END PRE-REQUISITES FOR FACEBOOK SIGN IN -->
	<h1 class='header'>
		Welcome to <span id='title'>Restaurant Manager</span>
	</h1>

	<div class='flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	</div>

	<div class='list'>
		What would you like to do?
		<ul>
		<li><a class='forwardLink' href="{{url_for('restaurants')}}">
			View, edit, or delete restaurants and their menu items</a>
		</li>
		<li><a class='forwardLink' href="{{url_for('cuisines')}}">
			View, edit, or delete cuisines and their base menu items</a>
		</li>
		<li><a class='forwardLink' href="{{url_for('users')}}">
			View users</a>
		</li>
		</ul>
	</div>

<!-- Google+ sign in button -->
<!-- data-scope is the data we want to have access to -->
<!-- data-redirect="postmessage" enables the one-time use code flow -->
<!-- data-accesstype="offline" lets the app access user data even when 
	the user is offline -->
<!-- data-cookiepolicy determines scope of URIs that can acces the cookie -->
<!-- data-callback specifies a callback method 
	(in this case when the user signs in and Google gives the one-time-use code
	along with an access code) -->
<!-- data-approvalprompt="force" means user has to log in 
	each time visit login page // useful for debugging, not so in production -->
	<div id="signIn">
		<div id='signInButtons'>
			<div class="g-signin"
				data-scope="openid email"
            	data-redirecturi="postmessage"
            	data-clientid="446362929824-aoa0sov3apqfqin1njstj6hu078e49ap.apps.googleusercontent.com"
            	data-accesstype="offline"
            	data-cookiepolicy="single_host_origin"
            	data-callback="signInCallback"
            	data-approvalprompt="force">
    		</div>
    		<div>
			<fb:login-button scope="public_profile,email"
				onlogin="sendTokenToServer();">
				Login with Facebook
			</fb:login-button>
			</div>
    	</div>
    	<div class='signOut'>
    		<a class="backLink" href="#" onclick="signOut();">Sign out</a>
    	</div>
    </div>
    </br>
	</br>
    <div id='result'></div>
<script>
// called when facebook login button clicked
function sendTokenToServer() {

	var access_token = FB.getAuthResponse()['accessToken'];

	console.log("Welcome! Fetching your access token...");
	console.log(access_token);   

    FB.api('/me', function(response) {
    	console.log('Successfull Facebook login for: ' + response.name);
    	// hide the login
		$('#signIn').attr('style', 'display: none');
    	// send the on-time-use code to the server, if the server responds, write
		// the output of the /fbconnect method to the web page then refresh
		$.ajax({
			type: 'POST',
			url:'/fbconnect?state={{state}}',
			processData: false,
			data: access_token,
			contentType: 'application/octet-stream; charset=utf-8',
			success: function(result) {
				if (result) {
					$('#result').html('Login Sucessful!<br>' + result + '</br>Redirecting...');
					setTimeout(function() {
						location.reload();
					}, 4000);
				}
				else if (authResult['error']) {
					
					console.log('There was an error: ' + authResult['error']);
				}
				else {

					$('#result').html('Failed to make a server-side call.  Check your configuration and console.');
				}
			}
		});
    });
}

// called when Google calls back after sending the user the access code
function signInCallback(authResult) {

	if (authResult['code']) {
		// hide the sign-in button
		$('#signIn').attr('style', 'display: none');
		// send the on-time-use code to the server, if the server responds, write
		// the output of the /gconnect method to the web page then refresh
		console.log("trying");
		$.ajax({
			type: 'POST',
			url:'/gconnect?state={{state}}',
			processData: false,
			contentType: 'application/octet-stream; charset=utf-8',
			data: authResult['code'],
			success: function(result) {
				if (result) {
					$('#result').html('Login Sucessful!<br>' + result + '</br>Redirecting...');
					setTimeout(function() {
						location.reload();
					}, 4000);
				}
				else if (authResult['error']) {
					
					console.log('There was an error: ' + authResult['error']);
				}
				else {

					$('#result').html('Failed to make a server-side call.  Check your configuration and console.');
				}
			}
		});
	}
}

function signOut() {

	$.ajax({
		type: 'POST',
		url: '/disconnect',
		success: function(result) {
			if (result) {
				window.alert(result);
				location.reload();
			}
			else {
				$('#result').html('Failed to make a server-side call.  Check your configuration and console.');
			}
		}
	});
  }
</script>
</body>
</html>