<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											filename='BasicMenu.css')}}">
</head>
<body> 
	<div class='pane'>
		<h1 class='header'>{{restaurant.name}}</h1>

		<div class='flash'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li><strong>{{message}}</strong></li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		</div>

		<h2 class='header'>Menu</h2>

		<!-- apps -->
		{% if sectionedItems['Appetizer']|length > 0 %}

			<h4 class='header'>Appetizers</h4>

			{% for i in sectionedItems['Appetizer'] %}

				<div class='name'>{{i.name}}</div>
				</br>
				<div class='description'>{{i.description}}</div>
				</br>
				<div class='price'>{{i.price}}</div>
				</br>
				</br>
			{% endfor %}

		{% endif %}

		<!-- mains -->
		{% if sectionedItems['Main Course']|length > 0 %}

			<h4 class='header'>Main Courses</h4>

			{% for i in sectionedItems['Main Course'] %}

				<div class='name'>{{i.name}}</div>
				</br>
				<div class='description'>{{i.description}}</div>
				</br>
				<div class='price'>{{i.price}}</div>
				</br>
				</br>
			{% endfor %}

		{% endif %}

		<!-- sides -->
		{% if sectionedItems['Side Dish']|length > 0 %}

			<h4 class='header'>Side Dishes</h4>

			{% for i in sectionedItems['Side Dish'] %}

				<div class='name'>{{i.name}}</div>
				</br>
				<div class='description'>{{i.description}}</div>
				</br>
				<div class='price'>{{i.price}}</div>
				</br>
				</br>
			{% endfor %}

		{% endif %}

		<!-- desserts -->
		{% if sectionedItems['Dessert']|length > 0 %}

			<h4 class='header'>Desserts</h4>

			{% for i in sectionedItems['Dessert'] %}

				<div class='name'>{{i.name}}</div>
				</br>
				<div class='description'>{{i.description}}</div>
				</br>
				<div class='price'>{{i.price}}</div>
				</br>
				</br>
			{% endfor %}

		{% endif %}

		<!-- drinks -->
		{% if sectionedItems['Drink']|length > 0 %}

			<h4 class='header'>Drinks</h4>

			{% for i in sectionedItems['Drink'] %}

				<div class='name'>{{i.name}}</div>
				</br>
				<div class='description'>{{i.description}}</div>
				</br>
				<div class='price'>{{i.price}}</div>
				</br>
				</br>
			{% endfor %}

		{% endif %}

		<!-- other -->
		{% if sectionedItems['Other']|length > 0 %}

			<h4 class='header'>Other</h4>

			{% for i in sectionedItems['Other'] %}

				<div class='name'>{{i.name}}</div>
				</br>
				<div class='description'>{{i.description}}</div>
				</br>
				<div class='price'>{{i.price}}</div>
				</br>
				</br>
			{% endfor %}

		{% endif %}

		<a class='backLink' href="{{url_for('restaurant', 
						   restaurant_id=restaurant.id)}}">
			Back to restaurant
		</a>
		</br>
		</br>
	</div>
<script src="{{url_for('static', filename='login.js')}}">
</script>
<script>displayBasedOnLogin("{{client_login_session['message']}}");
</script>
</body>
</html>