<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Restaurants.css')}}">
</head>
<body> 
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<span id='signIn'>

				<div id='loginStatus'>
					{{loginStatusMessage}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="#">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</span>	

			<h1 id='pageTitle' class='header'>
				{{restaurantMenuItem.name}}
			</h1>

		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
				<a href="{{url_for('users')}}">users</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
			</div>
		</div>
	</div>

<div id='pageContent'>

	<p>
		<a class='backLink' href="{{url_for('restaurantMenu',
										restaurant_id=restaurant.id)}}">
			Back to the menu
		</a>
	</p>

	<div class='flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	</div>

	<div class='stats'>

		<div class='photo'>
			<img id='photo' src="{{picture.text}}" alt='[picture of {{restaurant.name}}]' max-width=100%>
		</div>

		<p>
			Stats for restaurant menu item '{{restaurantMenuItem.name}}':
		</p>
		<ul>
			<li>
				ID: {{restaurantMenuItem.id}}
			</li>
			<li>
				Description: {{restaurantMenuItem.description}}
			</li>
			<li>
				Price: {{restaurantMenuItem.price}}
			</li>
			<li>
				Menu Section: {{restaurantMenuItemSection.name}}
			</li>
			<li>
				Times ordered: {{timesOrdered}}
			</li>
			<li>
				Restaurant: {{restaurant.name}} (ID {{restaurant.id}})
			</li>
			<li>
				Restaurant Cuisine: {{restaurantCuisine}}
			</li>
		</ul>
		<p>
			Stats for base menu item '<a class='forwardLink' href="{{url_for('baseMenuItem', cuisine_id=baseMenuItem.cuisine_id, baseMenuItem_id=baseMenuItem.id)}}">{{baseMenuItem.name}}</a>':
		</p>
		<ul>
			<li>
				ID: {{baseMenuItem.id}}
			</li>
			<li>
				Cuisine: {{baseMenuItemCuisine}}
			</li>
			<li>
				Description: {{baseMenuItem.description}}
			</li>
			<li>
				Base Menu Item Price: {{baseMenuItem.price}}
			</li>
			<li>
				Base Menu Item Menu Section: {{baseMenuItemSection.name}}
			</li>
		</ul>
	</div>

	<div class='list'>
	<p>Actions:</p>
	<ul>
		<li><a class='actionLink' href="{{url_for('editRestaurantMenuItem',
							   restaurant_id=restaurant.id,
							   restaurantMenuItem_id=restaurantMenuItem.id)}}">
			Edit</a>
		</li>
		<li><a class='actionLink' href="{{url_for('deleteRestaurantMenuItem', 
							   restaurant_id=restaurant.id,
							   restaurantMenuItem_id=restaurantMenuItem.id)}}">
			Delete</a>
		</li>
	</ul>
<script src="{{url_for('static', filename='login.js')}}">
</script>
<script src="{{url_for('static', filename='signOut.js')}}">
</script>
<script>displayBasedOnLogin({{intBooleanLoggedIn}});
</script>
<script>
// if appropriate, changes src of #photo from link to served file
(function() {
	if ('{{picture.serve_type}}' === 'upload') {

	console.log("is upload");
		document.getElementById("photo").setAttribute("src", "{{url_for('uploaded_picture', filename=picture.text)}}");
	}
})();
</script>
</body>
</html>