<html>
	<body>
		<h1>{{restaurant.name}}</h1>

		<a href='/restaurants/{{restaurant.id}}/menu/add/'>
			Create new menu item
		</a>

		<h3>Menu</h3>

		{% for i in items %}

		{{i.name}}
		</br>
		{{i.description}}
		</br>
		{{i.price}}
		</br>
		<a href="{{url_for('editMenuItem', 
							restaurant_id=i.restaurant_id,
							menuItem_id=i.id)}}">
			Edit</a>
		</br>
		<a href="{{url_for('deleteMenuItem', 
							restaurant_id=i.restaurant_id,
							menuItem_id=i.id)}}">
			Delete</a>
		</br>
		</br>
		{% endfor %}
	</body>
</html>