<html>
<body> 
	<h1 class='header'>Restaurant Menu Item</h1>
	<h3 class='header'>{{restaurantMenuItem.name}}</h3>

	<p>
		<a class='back' href="{{url_for('restaurantMenu',
										restaurant_id=restaurant.id)}}">
			Take me back to the menu
		</a>
	</p>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	</div>

	<div class='stats'>
	<p>Stats for {{restaurantMenuItem.name}}:</p>
	<ul>
		<li>ID: {{restaurantMenuItem.id}}</li>
		<li>Restaurant: {{restaurant.name}} (ID {{restaurant.id}}, cuisine {{restaurantCuisine}})</li>
		<li>Description: {{restaurantMenuItem.description}}
		<li>Price: {{restaurantMenuItem.price}}</li>
		<li>Base menu item: {{baseMenuItem.name}} (ID {{baseMenuItem.id}}, cuisine {{baseMenuItemCuisine}})</li>
		<li>Base menu item description: {{baseMenuItem.description}}</li>
		<li>Base menu item price: {{baseMenuItem.price}}</li>
		<li>Times ordered: {{timesOrdered}}</li>
	</ul>
	</div>

	<div class='actions'>
	<p>Actions:</p>
	<ul>
		<li><a href="{{url_for('editRestaurantMenuItem',
							   restaurant_id=restaurant.id,
							   restaurantMenuItem_id=restaurantMenuItem.id)}}">
			Edit</a>
		</li>
		<li><a href="{{url_for('deleteRestaurantMenuItem', 
							   restaurant_id=restaurant.id,
							   restaurantMenuItem_id=restaurantMenuItem.id)}}">
			Delete</a>
		</li>
	</ul>
</body>
</html>