<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											filename='BasicMenu.css')}}">
</head>
<body> 
	<div class='pane'>
		<h1 class='header'>{{restaurant.name}}</h1>

		<div class='flash'>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li><strong>{{message}}</strong></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		</div>

		<h3 class='header'>Menu</h3>

		{% for i in items %}

		<div class='name'>{{i.name}}</div>
		</br>
		<div class='description'>{{i.description}}</div>
		</br>
		<div class='price'>{{i.price}}</div>
		</br>
		<a href="{{url_for('editRestaurantMenuItem', 
							restaurant_id=i.restaurant_id,
							restaurantMenuItem_id=i.id)}}">
			Edit</a>
		</br>
		<a href="{{url_for('deleteRestaurantMenuItem', 
							restaurant_id=i.restaurant_id,
							restaurantMenuItem_id=i.id)}}">
			Delete</a>
		</br>
		</br>
		{% endfor %}

		<a href="{{url_for('addRestaurantMenuItem', 
						restaurant_id=restaurant.id)}}">
			Create new menu item
		</a>
		</br>
		</br>
	</div>
</body>
</html>