<html>
<body> 
	<h1 class='header'>{{restaurant.name}}</h1>

	<p>
		<a class='back' href="{{url_for('restaurants')}}">
			Take me back to the restaurant list
		</a>
	</p>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	</div>

	<div class='stats'>
	<p>Stats for {{restaurant.name}}:</p>
	<ul>
		<li>ID: {{restaurant.id}}</li>
		<li>Cuisine: {{cuisine.name}}</li>
		<li>Number of items on menu: {{numMenuItems}}</li>
		<li>Most expensive item: {{mostExpensiveItem.name}} 
			({{mostExpensiveItem.price}})</li>
	</ul>
	</div>

	<div class='actions'>
	<p>Actions:</p>
	<ul>
		<li><a href="{{url_for('restaurantMenu', 
							   restaurant_id=restaurant.id)}}">
			View/Edit Menu</a>
		</li>
		<li><a href="{{url_for('editRestaurant', 
							   restaurant_id=restaurant.id)}}">
			Edit Restaurant</a>
		</li>
		<li><a href="{{url_for('deleteRestaurant', 
							   restaurant_id=restaurant.id)}}">
			Delete Restaurant</a>
		</li>
	</ul>
</body>
</html>