<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',
											           filename='Restaurants.css')}}">
</head>
<body> 
	<div id='pageHeader'>
		<div id='coloredHeader'>

			<div id='signIn'>

				<div id='loginStatus'>
					{{loginStatusMessage}}
				</div>

				<span class='hideLoggedIn' id='loginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='profileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=user_id)}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='signOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

   <!-- a non-displayed, floated-right div that mirrors the "real" (displayed), floated-left #signIn div (which has variable length). 
   Used to ensure #pageTitle is centered on the page instead of centered in the
   spaced to the right of the floating "real/visible" signIn box -->
			<div id='fakeSignIn'>

				<div id='fakeLoginStatus'>
					{{loginStatusMessage}}
				</div>

				<span class='hideLoggedIn' id='fakeLoginSpan'>
					<a class='actionLink' href="{{url_for('restaurantManagerIndex')}}">
						Log in here</a>
				</span>

				<span class='hideLoggedOut' id='fakeProfileSpan'>
					<a class='actionLink' href="{{url_for('user',user_id=user_id)}}">
						View/edit profile</a>
				</span>

    			<span class='hideLoggedOut' id='fakeSignOutSpan'>
    				<a class="backLink" href="#" onclick="signOut();">
    					Sign out</a>
    			</span>

    		</div>	

			<div id='pageTitle' class='header'>
				List of All Restaurants
			</div>

		</div>

		<div id='transHeader'>
			<div class='homeLinks'>
				<a href="{{url_for('restaurants')}}">restaurants</a>
				<a href="{{url_for('cuisines')}}">cuisines</a>
				<a href="{{url_for('users')}}">users</a>
				<a href="{{url_for('restaurantManagerIndex')}}">home</a>
			</div>
		</div>
	</div>

<!-- 
	for ensuring that content is the appropriate distance from the header
	(when scrolled to top) as the header changes height
	(not "perfect", but very close)
-->
<div id='bodyPadding'> 
	List of All Restaurants
</div>

<div id='pageContent'>

	<p>
		<a class='backLink' href="{{url_for('restaurantManagerIndex')}}">
				Back to start</a>
	</p>
	
	<div class='flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	</div>

<div class='stats'>
		<p>Stats for all restaurants:</p>
		<ul>
			<li>
				Total restaurants: {{numRestaurants}}
			</li>
		</ul>

	<div class='list'>
	<p>
		Click a restaurant to view, edit, or delete it, or 
		<a class='actionLink' href="{{url_for('addRestaurant')}}"> 
			click here to create a new restaurant</a>
	</p>
	<span class='hideLoggedOut' id='itemNote'>
		(Your restaurants are highlighted)
	</span>
	<ul>
		{% for cuisineID in cuisineToRestaurantsDict %}
		<li>
			Restaurants with primary cuisine '{{cuisineToRestaurantsDict[cuisineID]['cuisine'].name}}':
			<ol>
				{% for restaurantID in cuisineToRestaurantsDict[cuisineID]['restaurants'] %}
				<li>
					<span class="{{cuisineToRestaurantsDict[cuisineID]['restaurants'][restaurantID]['ownership']}}"><a class='forwardLink' href="{{url_for('restaurant', restaurant_id=restaurantID)}}">
						{{cuisineToRestaurantsDict[cuisineID]['restaurants'][restaurantID]['restaurant'].name}} (ID {{cuisineToRestaurantsDict[cuisineID]['restaurants'][restaurantID]['restaurant'].id}})</a></span>
				</li>
				{% endfor %}
			</ol>
			</br>
		</li>
		{% endfor %}
	</ul>
	</div>
</div>
</div>
<script src="{{url_for('static', filename='login.js')}}">
</script>
<script>displayBasedOnLogin({{intBooleanLoggedIn}});
</script>
</body>
</html>